@model LampViewModel

@{
    ViewBag.Title = "Lamp Control";
}
@section styles{
    <link href="~/CSS/lamp.css" rel="stylesheet" />
}

<div class="col-12 bg-light">
    <form method="post">

        <div class="form-row align-items-center justify-content-center">
            <div class="col-2 mx-1">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="controlalllamps" asp-for="@Model.All" unchecked />
                    <label class="form-check-label">All</label>
                </div>
                <input type="number" min="1" max="26" class="form-control" id="lampselector" asp-for="@Model.Index" placeholder="Select Lamp" />
            </div>

            <div class="col-4 mx-1">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="dutycyclecontrolradio" asp-for="@Model.controltype" name="controltype" value="Dim" checked />
                    <label class="form-check-label">Duty Cycle</label>

                </div>
                <div class="form-group">
                    <input type="number" min="0" max="100" class="form-control" id="dutycyclecontrolnumber" asp-for="@Model.DutyCycle" placeholder="Duty Cycle" />
                </div>
                <div class="form-group">
                    <input type="range" min="0" max="100" class="form-control" id="dutycyclecontrolrange" asp-for="@Model.DutyCycle" />
                </div>
            </div>




            <div class="col-4 mx-1">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="frequencycontrolradio" asp-for="@Model.controltype" name="controltype" value="Frequency" />
                    <label for="Frequency" class="form-check-label">Frequency</label>

                </div>
                <div class="form-group">
                    <input type="number" min="1" max="255" class="form-control" id="frequencycontrolnumber" asp-for="@Model.Frequency" placeholder="Switching Frequency" disabled />
                </div>
                <div class="form-group">
                    <input type="range" min="1" max="255" class="form-control" id="frequencycontrolrange" asp-for="@Model.Frequency" placeholder="Switching Frequency" disabled />
                </div>
            </div>



            <div class="col-1 mx-1">
                <input class="btn btn-primary btn-block" type="submit" id="setbutton" value="Set" />
            </div>
        </div>

    </form>
</div>
<div class="col-12" id="lampplan">

    <label class="horizontallamplabel" style="left:980px; top:96px">1</label>
    <label class="horizontallamplabel" style="left:872px;  top:96px">2</label>
    <label class="horizontallamplabel" style="left:691px;  top:123px">3</label>
    <label class="horizontallamplabel" style="left:584px;  top:123px">4</label>
    <label class="horizontallamplabel" style="left:406px;  top:123px">5</label>
    <label class="horizontallamplabel" style="left:298px;  top:123px">6</label>
    <label class="horizontallamplabel" style="left:127px;  top:122px">7</label>
    <label class="horizontallamplabel" style="left:19px;   top:122px">8</label>
    <label class="horizontallamplabel" style="left:584px;  top:268px">9</label>
    <label class="horizontallamplabel" style="left:404px;  top:268px">10</label>
    <label class="horizontallamplabel" style="left:295px;  top:268px">11</label>
    <label class="horizontallamplabel" style="left:89px;  top:268px">12</label>
    <label class="horizontallamplabel" style="left:580px;  top:400px">13</label>
    <label class="horizontallamplabel" style="left:404px;  top:400px">14</label>
    <label class="horizontallamplabel" style="left:295px;  top:400px">15</label>
    <label class="horizontallamplabel" style="left:88px;  top:400px">16</label>
    <label class="horizontallamplabel" style="left:580px;  top:525px">17</label>
    <label class="horizontallamplabel" style="left:404px;  top:525px">18</label>
    <label class="horizontallamplabel" style="left:295px;  top:525px">19</label>
    <label class="horizontallamplabel" style="left:88px;  top:525px">20</label>
    <label class="horizontallamplabel" style="left:925px;  top:205px">21</label>
    <label class="verticallamplabel" style="left:940px;  top:330px">22</label>
    <label class="verticallamplabel" style="left:940px;  top:440px">23</label>
    <label class="verticallamplabel" style="left:755px;  top:190px">24</label>
    <label class="verticallamplabel" style="left:755px;  top:300px">25</label>
    <label class="verticallamplabel" style="left:755px;  top:410px">26</label>
</div>

@section scripts{
    <script src="~/js/lamps.js"></script>
}