@model LampViewModel

@{
    ViewBag.Title = "Lamp Control";
}


<div class="col-12 bg-light">
    <form method="post" >

        <div class="form-row align-items-center justify-content-center">
            <div class="col-2 mx-1">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="controlalllamps" asp-for="@Model.All" />
                    <label class="form-check-label">All</label>
                </div>
                <input type="number" min="1" max="26" class="form-control" id="lampselector" asp-for="@Model.Index" placeholder="Select Lamp" />
            </div>

            <div class="col-4 mx-1">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="dutycyclecontrolradio" asp-for="@Model.isDim" value="Dim" />
                    <label class="form-check-label">Duty Cycle</label>

                </div>
                <div class="form-group">
                    <input type="number" min="0" max="100" class="form-control" id="dutycyclecontrolnumber" asp-for="@Model.DutyCycle" placeholder="Duty Cycle" />
                </div>
                <div class="form-group">
                    <input type="range" min="0" max="100" class="form-control" id="dutycyclecontrolrange" asp-for="@Model.DutyCycle" />
                </div>
            </div>




            <div class="col-4 mx-1">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="frequencycontrolradio" asp-for="@Model.isFrequency" value="Frequency" />
                    <label class="form-check-label">Frequency</label>

                </div>
                <div class="form-group">
                    <input type="number" min="1" max="255" class="form-control" id="frequencycontrolnumber" asp-for="@Model.Frequency" placeholder="Switching Frequency" disabled />
                </div>
                <div class="form-group">
                    <input type="range" min="1" max="255" class="form-control" id="frequencycontrolrange" asp-for="@Model.Frequency" placeholder="Switching Frequency" disabled />
                </div>
            </div>



            <div class="col-1 mx-1">
                <input class="btn btn-primary btn-block" type="submit" id="setbutton" value="Set" disabled />
            </div>
        </div>

    </form>
</div>
<div class="col-12" id="lampplan">

    <label class="lamplabel" style="left:1010px; top:90px">1</label>
    <label class="lamplabel" style="left:900px; top:90px">2</label>
    <label class="lamplabel" style="left:740px; top:123px">3</label>
    <label class="lamplabel" style="left:650px; top:123px">4</label>
    <label class="lamplabel" style="left:470px; top:123px">5</label>
    <label class="lamplabel" style="left:370px; top:123px">6</label>
    <label class="lamplabel" style="left:180px; top:123px">7</label>
    <label class="lamplabel" style="left:90px; top:123px">8</label>
    <label class="lamplabel" style="left:650px; top:265px">9</label>
    <label class="lamplabel" style="left:470px; top:265px">10</label>
    <label class="lamplabel" style="left:370px; top:265px">11</label>
    <label class="lamplabel" style="left:130px; top:265px">12</label>
    <label class="lamplabel" style="left:650px; top:394px">13</label>
    <label class="lamplabel" style="left:470px; top:394px">14</label>
    <label class="lamplabel" style="left:370px; top:394px">15</label>
    <label class="lamplabel" style="left:130px; top:394px">16</label>
    <label class="lamplabel" style="left:650px; top:520px">17</label>
    <label class="lamplabel" style="left:470px; top:520px">18</label>
    <label class="lamplabel" style="left:370px; top:520px">19</label>
    <label class="lamplabel" style="left:130px; top:520px">20</label>
    <label class="lamplabel" style="left:970px; top:205px">21</label>
    <label class="lamplabel" style="left:938px; top:380px">22</label>
    <label class="lamplabel" style="left:938px; top:480px">23</label>
    <label class="lamplabel" style="left:740px; top:265px">24</label>
    <label class="lamplabel" style="left:740px; top:400px">25</label>
    <label class="lamplabel" style="left:740px; top:500px">26</label>
</div>

@section scripts{
    <script src="~/js/lamps.js"></script>
}