@model LampViewModel

@{
    ViewBag.Title = "Lamp Control";
}


<div class="col-3 bg-light">
    <form method="post">
        <fieldset class="form-group">
            <label>Select Lamp:</label>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="controlalllamps" asp-for="@Model.All" />
                <label class="form-check-label">Select All Lamps at Once</label>
            </div>
            <input type="number" min="1" max="26" class="form-control" id="lampselector" asp-for="@Model.Index" />
        </fieldset>


        <fieldset >
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dutycyclecontrolradio" asp-for="@Model.isDim" checked />
                <label class="form-check-label">Dim</label>

            </div>
            <div class="form-group">
                <label>Dim Value:</label>
                <input type="number" min="1" max="100" class="form-control mx-1"  id="dutycyclecontrolfield" asp-for="@Model.DutyCycle" />
            </div>
        </fieldset>

        <fieldset >
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="frequencycontrolradio" asp-for="@Model.isFrequency"/>
                <label class="form-check-label">Frequency</label>

            </div>
            <div class="form-group" >
                <label>Switching Frequency:</label>
                <input type="number" min="1" max="255" class="form-control mx-1" id="frequencycontrolfield" asp-for="@Model.Frequency" disabled />
            </div>
        </fieldset>
        <input class="btn btn-primary btn-block" type="submit" id="setbutton" value="Set" />

    </form>
</div>

@section scripts{
    <script src="~/js/lamps.js"></script>
}