@*@model MeterRecording*@
@{
    ViewBag.Title = "Meter Data";
}

<div>
    <ul>
        <li>
            Active Energy (KWh):     @Model.activeEnergy
        </li>

        <li>
            Reactive Energy(KVArh):     @Model.reactiveEnergy
        </li>

        <li>
            Meter Id:     @Model.MeterId
        </li>

        <li>
            Active Power(KW):     @Model.activePower
        </li>

        <li>
            Reactive Power(KVAr):     @Model.reactivePower
        </li>

        <li>
            Power Factor:     @Model.powerFactor
        </li>

        <li>
            Current (A):     @Model.current
        </li>

        <li>
            Voltage (V):     @Model.voltage
        </li>

        <li>
            Frequency (Hz):     @Model.frequency
        </li>
    </ul>
</div>